@font-face {
  font-family: 'dtlprokyontregular';
  src: url('../fonts/dtl-prokyon-t_14675-webfont.woff2') format('woff2'),
       url('../fonts/dtl-prokyon-t_14675-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dtlprokyontregular';
  src: url('../fonts/dtl-prokyon-t-bold_14662-webfont.woff2') format('woff2'),
       url('../fonts/dtl-prokyon-t-bold_14662-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'dtlprokyontregular';
  src: url('../fonts/dtlprokyontmedium-webfont.woff2') format('woff2'),
       url('../fonts/dtlprokyontmedium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
html {
  font-family: 'dtlprokyontregular';  
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.25;
  font-family: 'dtlprokyontregular';  
  color: black;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
  margin:0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix::after{
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}
.container{
  width: 100%;
  max-width: 1365px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*------------------------------------------------------
slick slider--------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
ul{
  margin:0;
  padding:0;
}


/*----------------------------------------------------------
------------------------------------------------------------ */
header{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  position: relative;
  z-index: 99
}
header .logo{
  float:left;
}
header nav{
  float:right
}
header nav ul{
  list-style: none;
}
header nav > ul > li{
  float: left;
  padding: 7px 15px;
  position: relative;
  margin: 27px 0;
}
nav > ul  li  a{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 26px;
  color: #2e3542;
  text-decoration: none;
}
.dropdown{
  display:none;
  padding:0;
  position: absolute;
  top: 100%;
  left:0;
}
.dropdown ul{
  padding: 0;
}
.dropdown ul li{
  width:100%;
}
.dropdown ul li a{
  width:100%;
  text-align: center;
}
nav ul > li:hover .dropdown {
  display:block;
}
nav ul li a:hover,
nav ul li a.active{
  color: #758009;
}
nav > ul li a span{
  margin-left: 15px;
}
.btn-link{
  background-color: #d01e6d;
border-radius: 19px;
}
.mobile-menu{
  display:none;
}

/*-------------------------------------------------
banner--------------------------------------------*/

.slide-thumb{
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide{
  position: relative;
}
.slide-content{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.slide-content h3{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
color: #2e3542;
font-size: 19px;
font-weight: 500;
letter-spacing: 0.07px;
line-height: 28px;
text-transform: uppercase
}
.slide-content h3{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
color: #2e3542;
font-size: 19px;
font-weight: 500;
letter-spacing: 0.07px;
line-height: 28px;
text-transform: uppercase;
margin:0;
}
.slide-content h2{
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #2e3542;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 60px;
  margin:0;
}
.slide-content a{
  color: #758009;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.14px;
line-height: 26px;
text-transform: uppercase;
box-shadow: 0 1px 10px rgba(46, 53, 66, 0);
border-radius: 27px;
border: 2px solid #becf0e;
background-color: #ffffff;
text-decoration: none;
padding: 10px 22px;
margin-top: 20px;
}
.slide-content img{
  width:auto;
}
.slide-content .round{
  width: 100%;
  height: 100%;
  background-size: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center center;
}
/*-------------------------------------------------
common styles--------------------------------------------*/
.side-padding{
  padding: 0px 106px;
}
.tool-head h3,
.customer-title h3,
.rating-title h3{
  color: #2e3542;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.31px;
  margin: 0;
  padding: 65px 0 13px 0
}
.tool-head p,
.customer-title p,
.rating-title p{
  color: #2e3542;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-top: 0px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.tool-head p::after,
.customer-title p::after,
.rating-title p::after{
  content: '';
    position: absolute;
    bottom: 0;
    width: 7.6%;
    height: 4px;
    left: 0;
    right: 0;
    background-color: #becf0e;
    margin: 0px auto;
}
.stacked-wrap{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #f6f8fb;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*-------------------------------------------------
stacked Group--------------------------------------------*/


.stacked-wrap ul li{
  width: 31.8%;
  float: left;
  margin-left: 26px;
}
.stacked-wrap ul li:first-child{
  margin-left: 0;
}
.block{
  background:#fff;
  text-align:center;
  border-top: 10px solid #becf0e;
  padding: 30px;
}
.stacked-wrap ul{
  margin:0;
  list-style: none;
}
/*-------------------------------------------------
customer title--------------------------------------------*/
.customer-title,.tool-head {
  text-align: center;
}
.customer-list ul{
  list-style: none;
  display: flex;
  padding: 40px 41px;
}
.customer-list ul li{ 
  float: left;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-list ul li a{ 
 display:inline-block;
}

/*-------------------------------------------------
open soruce--------------------------------------------*/
.tool-head{
  border-top: 1px solid grey;
}
.shape1{
  text-align: center;
  position: relative;
}
.visuals {
  position:relative;
}
.shape1{
  text-align: center;
    position: relative;
    padding: 36px 0;
}
.shape1 img{
  padding-right: 10px;
}
.shape2 .top{
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.shape2 .bottom{
  text-align: center;
  position: absolute;
  bottom:0;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.visuals-text{
  color: #2e3542;
font-family: "DTL Prokyon T";
font-size: 18px;
letter-spacing: 0.15px;
line-height: 28px;
text-align: center;
}
/*-------------------------------------------------
user-types--------------------------------------------*/
.user-types{
  background-color: #f6f8fb;
  padding-top: 70px;
  padding-bottom: 70px;
}
.user{
  float: left;
  width: 50%;
  text-align: center;
  padding-right: 0;
  padding-left: 12px;
}
.user:first-child{
  padding-left: 0;
  padding-right: 12px;
}
.user .block{
  background:#fff;
  padding: 60px;
}
/*-------------------------------------------------
rating--------------------------------------------*/
.rating-title{
  text-align: center;
  margin: 70px 0;
}
.rating ul{
  list-style: none;
}
.rating ul li{
  float: left;
  width: 31.83%;
  margin-left: 25px;
}
.rating ul li:first-child{
  margin-left: 0;
}
.rating ul li > div{
   border-radius: 8px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
   text-align: center;
   padding: 30px 20px
}
.rating-list ul{
  width: calc(100% + 25px);
  margin-left: -25px;
}
.rating-title h3{
  padding: 4px 0 13px 0;
  position:relative;
}
.rating-title h3:after{
  content: '';
  position: absolute;
  width: 7.6%;
  height: 4px;
  left: 0;
  right: 0;
  background-color: #becf0e;
  margin: 0 auto;
  bottom: 0;
}
.efforts-img img{
  width:100%;
}

/* ----------------------------------------------
tabs-----------------------------------------------*/
.tabbg{
  background-color: #f6f8fb;
}
.tab-link{
  text-align: center;
  list-style: none;
  padding-top: 80px;
}
.tab-link li{
  float: none;
  width: 11%;
  display: inline-block;
}
.tab-link li a{
  color: black;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.tab-link li a.active{
  background-color: #ffff;
}
.tab-content{
  list-style: none;
  padding-bottom:90px;
}
.tab-content li{
  display:none
}

.tab-content li.active{
  display:block;
}
/* accordian ---------------------------------------
--------------------------------------------------*/
.accordian-content{
  display: none;  
}
.accordian-title{
  background:grey;
  cursor:pointer;   
}
.accordian-content.active{
  display:block;
}
/*-------------------------------------------------
animation--------------------------------------------*/
.round, .slide-content .robot, nav > ul > li, .slide-content h2, .slide-content h3,.slide-content a, .block{
  opacity: 0;
}
.animated{
  opacity:1 !important;
}
@media screen and (max-width:768px){
  nav > ul > li{
    opacity:1;
  }
}
/* media query--------------------------------------------
----------------------------------------------------- */

@media screen and (max-width: 1355px){
  .side-padding {
    padding-left:60px;
    padding-right:60px;
  }
}
@media screen and (max-width: 1300px){
  .side-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width:1200px){
  .stacked-wrap ul li{
    width: 32.1%;
    margin-left: 15px;
  }
  .rating ul li {
    float: left;
    width: 32.27%;
    margin-left: 15px;
  }
}
@media screen and (max-width: 992px){
  header nav > ul > li{
    padding: 7px 10px;
  }
  header nav > ul > li a{
    font-size:13px;
  }
}
@media screen and (min-width:768px){
  header nav{
    display:block !important;
  }
}
@media screen and (max-width:767px){
  header nav{
    display:none;
    float: none;
    width: 100%;
    position: absolute;
    background: #f6f8fb;
    top: 95px;
    left: 0;
    right: 0;
  }
  header nav > ul > li{
    padding: 7px 10px;
    float: none;
    margin: 10px 0;
  }
  .mobile-menu{
    display: block;
    float: right;
    margin-top: 36px;
  }
}